@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

// Medias querys
$breakpoints: (
  'xs': "(min-width: 0px) and (max-width: 767px)",
  'sm': "(min-width: 768px) and (max-width: 991px)",
  'md': "(min-width: 992px) and (max-width: 1199px)",
  'lg': "(min-width: 1200px) and (max-width: 1600px)",
  'xl': "(min-width: 1601px) and (max-width: 2048px)",
) !default;

// Fonts
$patua: 'Patua One', cursive; // Keppler Logo
$montserrat: 'Montserrat', sans-serif; // Titles
$opensans: 'Open Sans', sans-serif; // Subtitles and text

// Colors
$keppler-main: #f44336;
$dark-red: #ea2522;
$light-blue: #15aeda;
$dark-blue: #2a3c5b;
$main-black: #1a1515;
$gray: #b7b7b7;
$white: #fff;

// Gradient (Products)
$red-gradient: linear-gradient(to bottom, rgba(255,87,84,1) 0%, rgba(128,2,0,1) 100%);
