@import 'variables';
@import 'mixins';
@import 'particles';

body {
  margin: 0;
  padding: 0;
}

// Main Styles

#particles-js {
  position: absolute;

  @include respond-to(xs) {
    display: none;
  }

  @include respond-to(sm) {
    display: none;
  }

  @include respond-to(md) {
    height: 65%;
  }
}

.section-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include respond-to(xs) {

    br {
      display: none;
    }
  }

  %title-style {
    color: $main-black;
    flex-basis: 100%;
    font-family: $montserrat;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    width: 70%;

    @include respond-to(xs) {
      font-size: 30px;
    }
  }

  .features {
    @extend %title-style;
  }

  .products {
    @extend %title-style;
    color: $white;
    margin-bottom: 50px;
  }

  .about {
    @extend %title-style;
    margin-bottom: 50px;
  }

  .footer-title {
    color: $keppler-main;
    flex-basis: 100%;
    font-family: $montserrat;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }

  .subtitle {
    color: $subtitles;
    font-family: $opensans;

    @include respond-to(xs) {
      text-align: center;
    }
  }
}

.pad-section {
  padding: 50px 0;
}

.padding-section {
  padding: 50px 0;

  @include respond-to(xs) {
    padding: 50px 0 0;
  }

  @include respond-to(sm) {
    padding: 50px 0 0;
  }
}

.order-custom {
  @include respond-to(xs) {
    order: -1;
  }

  @include respond-to(sm) {
    order: -1;
  }
}

//Buttons
.cta {
  background-color: $dark-red;
  border-radius: 25px;
  color: $white;
  font-family: $opensans;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .3px;
  margin: 30px 0;
  padding: 15px 35px;
  transition: all ease-in-out .3s;

  @include respond-to(xs) {
    font-size: 10px;
    padding: 15px 30px;
  }

  &:hover {
    // background-color: $dark-red;
    transition: all ease-in-out .3s;
  }

}

.cta-product {
  background-color: transparent;
  border: 2px solid $white;
  border-radius: 25px;
  color: $white;
  font-family: $opensans;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .3px;
  margin: 30px 0;
  padding: 15px 35px;
  transition: all ease-in-out .3s;

  &:hover {
    background-color: $white;
    color: $dark-red;
  }
}

.sandbox {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-family: 'Open Sans';
  font-size: 15px;
  margin-left: 20px;
  text-decoration: underline;

  @include respond-to(xs) {
    font-size: 10px;
  }
}

.sandbox-product {
  background: transparent;
  border: 0;
  color: $white;
  cursor: pointer;
  font-family: 'Open Sans';
  font-size: 15px;
  margin-left: 10px;
  text-decoration: underline;
}

.btn-cta-footer {
  background-color: $dark-red;
  border-radius: 25px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  color: $white;
  font-family: $opensans;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .3px;
  margin: 30px 0;
  padding: 18px 32px;
  transition: all ease-in-out .5s;

  &:hover {
    box-shadow: 0 15px 37px rgba(50, 50, 93, .2), 0 5px 17px rgba(0, 0, 0, .08);
    transform: translateY(-2px);
    transition: all ease-in-out .5s;
  }
}

.btn-sandbox-footer {
  background-color: $white;
  border: 2px solid transparent;
  border-radius: 25px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  color: $dark-red;
  font-family: $opensans;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .3px;
  margin: 30px 0;
  padding: 18px 32px;
  transition: all ease-in-out .5s;

  &:hover {
    border: 2px solid $dark-red;
    transform: translateY(-2px);
    transition: all ease-in-out .5s;
    box-shadow: 0 15px 37px rgba(50, 50, 93, .2), 0 5px 17px rgba(0, 0, 0, .08);
  }
}

.send-btn {
  @extend .cta;
  font-size: 15px;
  margin: 5px 0;
  padding: 10px 40px;
}

.flex-captcha-btn {
  display: flex;
  justify-content: center;
}

// Navigation
.navbar {
  background-color: transparent;
  padding-left: 60px;
  position: absolute;
  z-index: 9;

  @include respond-to(xs) {
    padding-left: 1rem;
  }

  @include respond-to(sm) {
    padding-left: 40px;
  }

  .navbar-brand {
    color: $keppler-main;
    font-family: $patua;
    font-size: 35px;
  }

  .nav-item {
    padding: 0 15px;

    &:hover {

      .nav-link {
        // font-weight: 700;
        transition: all ease-in-out .3s;
      }
    }
  }
  .nav-link {
    color: $main-black;
    font-family: $opensans;
    font-size: 15px;
    transition: all ease-in-out .3s;
    position: relative;

    &:after {
      background-color: transparent;
      bottom: 3px;
      content: '';
      height: 2px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      transition: width ease-in-out .5s;
      width: 0%;
    }

    &:hover {

      &:after {
        background-color: $keppler-main;
        transition: width ease-in-out .5s;
        width: 35%;
      }
    }
  }
}

// Home
#home {
  // background-image: url('../img/fondo_inicio.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 128vh;
  position: relative;
  width: 100%;

  .rocket {
    height: 100%;
    width: 100%;

    img {
      position: absolute;
      right: 15%;
      top: 10%;
      transform: rotate(5deg);
      width: 10%;

      @include respond-to(md) {
        top: 15%;
        width: 12.5%;
      }

      @include respond-to(sm) {
        top: 15%;
        width: 15%;
      }

      @include respond-to(xs) {
        display: none;
      }
    }
  }

  .clouds {
    img {
      bottom: 0;
      position: absolute;
      width: 100%;

      @include respond-to(sm) {
        bottom: 5%;
      }
    }
  }

  .mask-home {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    padding-left: 60px;
    position: absolute;
    width: 100%;

    @include respond-to(xs) {
      justify-content: center;
      padding-left: 0;
    }

    @include respond-to(sm) {
      padding-left: 40px;
    }

    h1 {
      color: $main-black;
      flex-basis: 100%;
      font-family: $montserrat;
      font-size: 50px;
      font-weight: 900;
      margin-bottom: 40px;

      @include respond-to(xs) {
        font-size: 30px;
        text-align: center;
      }

      @include respond-to(sm) {
        font-size: 45px;
      }
    }
  }
}

// Features
#features {
  width: 100%;

  .feature-img {
    margin: 30px 0;
    position: relative;

    img {
      display: none;
      height: auto;
      opacity: 0;
      transition: opacity ease-in-out .3s;
      width: 100%;
      &.active {
        display: block;
        opacity: 1;
        transition: opacity ease-in-out .3s;
      }
    }
  }

  .feature-text {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    span {
      color: $white;
      border-radius: 18px;
      display: none;
      font-family: $opensans;
      font-size: 15px;
      padding: 5px 15px;
      text-align: center;
      &.active {
        display: block;
      }
      &.red {
        background-color: $keppler-main;
      }
      &.dark-red {
        background-color: $dark-red;
      }
      &.light-blue {
        background-color: $light-blue;
      }
      &.dark-blue {
        background-color: $dark-blue;
      }
    }
  }

  .feature-icons {
    ul {
      display: flex;
      justify-content: space-around;
      padding-left: 0;

      li {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;

        .icon-circle{
          align-items: center;
          border-radius: 50%;
          cursor: pointer;
          display: flex;
          height: 70px;
          justify-content: center;
          transition: all ease-in-out .5s;
          width: 70px;

          img {
            height: 30px;
            object-fit: contain;
            width: 30px;
          }
        }

        span {
          font-family: $opensans;
          font-size: 15px;
          font-weight: 700;
          margin-top: 10px;
        }
      }

      .feature_gray { background-color: gray !important; transition: all ease-in-out .5s; }
      #red { background-color: $keppler-main; }
      #light-blue { background-color: $light-blue; }
      #dark-red { background-color: $dark-red; }
      #dark-blue { background-color: $dark-blue; }
    }
  }
}

// Features - Slider
#features-xs {
  width: 100%;

  .feature-img {
    margin: 30px 0;

    img {
      height: auto;
      width: 100%;
    }
  }

  .feature-text {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    span {
      font-family: $opensans;
      font-size: 15px;
      text-align: center;
    }
  }

  .feature-icons-xs {
    li {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      list-style: none;

      .icon-circle {
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        height: 70px;
        justify-content: center;
        width: 70px;

        img {
          height: 30px;
          object-fit: contain;
          width: 30px;
        }
      }

      span {
        font-family: $opensans;
        font-size: 10px;
        font-weight: 700;
        margin-top: 10px;
      }
    }

    #red { background-color: $keppler-main; }
    #light-blue { background-color: $light-blue; }
    #dark-red { background-color: $dark-red; }
    #dark-blue { background-color: $dark-blue; }
  }
}

// Slick dots - Custom for features slider
.slick-dots {
  display: inline-flex;
  justify-content: center;
  position: relative;
  li {
    button {
      &::before {
        font-size: 25px;
       }
    }
  }
}


// Products
#products {
  background: $red-gradient;
  color: $white;
  width: 100%;

  .product-img {
    width: 100%;
  }

  .product-description {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding-left: 30px;

    @include respond-to(xs) {
      justify-content: center;
      padding: 50px 0 20px 0;
    }

    @include respond-to(sm) {
      padding: 50px 50px 0 0;
    }

    h1 {
      font-family: $opensans;
      font-size: 35px;

      @include respond-to(xs) {
        text-align: center;
        font-size: 25px;
      }

      @include respond-to(sm) {
        flex-basis: 100%;
      }
    }

    .call-to-actions {
      display: flex;
    }
  }
}

// About - Rockets
#about {
  .about-card {
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    display: flex;
    height: 250px;
    margin: 0 5px 40px;
    padding: 0;
    position: relative;
    transition: all ease-in-out .5s;

    @include respond-to(xs) {
      height: auto;
    }

    &:hover {
      box-shadow: 0 15px 37px rgba(50, 50, 93, .2), 0 5px 17px rgba(0, 0, 0, .08);
      transform: translateY(-2px);
      transition: all ease-in-out .5s;
    }

    .about-content {
      padding: 15px 35px;
    }

    h1 {
      font-family: $opensans;
      font-size: 20px;
      font-weight: 700;
      margin-top: 20px;
    }

    p {
      color: $subtitles;
      font-family: $opensans;
      font-size: 14px;
      line-height: 23px;
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }
}

// About - Icons on cards
.icon {
  background-position: left;
  background-repeat: no-repeat;
  height: 100%;
  transition: all ease-in-out .5s;
  width: 100%;

  @include respond-to(xs) {
    height: 300px;
  }
}

.icon-hover {
  filter: opacity(0.6) grayscale(100%);
}

.card-title_hover {
  color: gray !important;
  transition: all ease-in-out .5s;
}

#control {
  .icon-control {
    @extend .icon;
    background-image: url('../img/control.png');
    background-size: 85%;
  }

  h1 {
    color: $dark-red;
    transition: all ease-in-out .5s;
  }

  .icon-control_hover {
    @extend .icon-control;
    filter: opacity(0.6) grayscale(100%);
  }
}

#blog {
  .icon-blog {
    @extend .icon;
    background-image: url('../img/blog.png');
    background-size: 70%;
  }

  h1 {
    color: $light-blue;
    transition: all ease-in-out .5s;
  }

  .icon-blog_hover {
    @extend .icon-blog;
    // background-image: url('../img/blog_hover.png');
    // background-size: 70%;
    filter: opacity(0.6) grayscale(100%);
  }
}

#gallery {
  .icon-gallery {
    @extend .icon;
    background-image: url('../img/galeria.png');
    background-size: 90%;
  }

  h1 {
    color: $dark-red;
    transition: all ease-in-out .5s;
  }

  .icon-gallery_hover {
    @extend .icon-gallery;
    // background-image: url('../img/galeria_hover.png');
    // background-size: 90%;
    filter: opacity(0.6) grayscale(100%);
  }
}

#create {
  .icon-create {
    @extend .icon;
    background-image: url('../img/crea.png');
    background-size: 75%;
  }

  h1 {
    color: $dark-blue;
    transition: all ease-in-out .5s;
  }

  .icon-create_hover {
    @extend .icon-create;
    // background-image: url('../img/crea_hover.png');
    // background-size: 75%;
    filter: opacity(0.6) grayscale(100%);
  }
}

//footer
#cta-footer {
  padding: 0 0 70px 0;
}

.cta-footer {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  @include respond-to(xs) {
    justify-content: center;
  }

  @include respond-to(sm) {
    justify-content: center;
  }

  .cta-footer-inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-right: 20px;

    @include respond-to(xs) {
      padding-right: 0;
    }

    @include respond-to(sm) {
      padding-right: 0;
    }

    span {
      color: $subtitles;
      font-family: $opensans;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
    }
  }
}

.sandbox-footer {
  display: flex;
  justify-content: flex-start;

  @include respond-to(xs) {
    justify-content: center;
  }

  @include respond-to(sm) {
    justify-content: center;
  }

  .sandbox-footer-inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 20px;

    @include respond-to(xs) {
      padding-left: 0;
    }

    @include respond-to(sm) {
      padding-left: 0;
    }

    span {
      color: $subtitles;
      font-family: $opensans;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
    }
  }
}

#kepplercontact {
  background-color: #F5F5F5;
  background-image: url('../img/fondo_footer.png');
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 50px 0;
  width: 100%;

  @include respond-to(xl) {
    background-size: cover;
  }

  span {
    color: $subtitles;
    font-family: $opensans;
    font-size: 15px;
    margin-bottom: 50px;
  }

  .keppler-form {

    input,
    textarea {
      background-color: transparent;
      border-radius: 10px;
      color: $main-black;
      font-family: $opensans;
      font-size: 15px;
      padding: 5px 15px;
      resize: none;

      &:focus {
        border: 1px solid $keppler-main;
        box-shadow: 0 0 0 transparent;
      }

      &::placeholder {
        font-family: $opensans;
      }
    }

    textarea {
      height: 100px;
    }
  }
}

.g-recaptcha {
  transform: scale(.7);
}

footer {
  background-color: $white;
  display: flex;
  height: 50px;
  justify-content: space-around;
  width: 100%;

  .flex-footer {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 30px 0 25px 0;

    @include respond-to(xs) {
      flex-wrap: wrap;
    }
  }

  .social-media {
    margin-bottom: 0;

    @include respond-to(xs) {
      padding-left: 0;
    }

    li {
      display: inline;
      list-style: none;
      margin: 0 10px;

      &:hover {
        
        a {
          text-decoration: none;
        }

        #ws {
          i {
            color: #25d366;
            transition: all ease-in-out .5s;
          }
        }
        
        #ig {
          i {
            color: #cd486b;
            transition: all ease-in-out .5s;
          }
        }
        
        #fb {
          i {
            color: #3b5998;
            transition: all ease-in-out .5s;
          }
        }
        
        #ld {
          i {
            color: #0077b5;
            transition: all ease-in-out .5s;
          }
        }
      }

      a i {
        color: $main-black;
        font-size: 20px;
        transition: all ease-in-out .5s;

        @include respond-to(xs) {
          font-size: 15px;
        }
      }
    }
  }

  span {
    color: $subtitles;
    font-family: $opensans;
    font-size: 15px;

    a {
      color: $subtitles;

      &:hover {
        color:#363030;
        text-decoration: underline;
      }
    }
  }
}
