// About
%section.pad-section#about
  .container
    .section-title
      %h1.about
        Conoce los 'Rockets' para hacer
        %br que tu negocio despegue
    .row
      .col-lg-6
        .about-card#control
          .icon-control
          .about-content
            %h1 Completo control
            %p.d-none.d-sm-block
              Con Keppler eres el capitán de la nave, para llevarla a donde otros no han llegado necesitas los mejores propulsores,
              nosotros los llamamos 'rockets', y harán que tu misión sea un éxito. Te acompañamos en el despegue de tu negocio.
            %p.d-block.d-sm-none
              Con Keppler eres el capitán de la nave y nuestros propulsores o rockets son tus mejores aliados.
      .col-lg-6
        .about-card#blog
          .icon-blog
          .about-content
            %h1 Un blog para compartir información
            %p.d-none.d-sm-block
              Como capitán necesita una bitácora de viaje (blog) y con ella, podrás contar y mostrar de la mejor manera tus experiencias,
              para que otros puedan saber de ti y puedas atraer a los usuarios adecuados.
            %p.d-block.d-sm-none
              Como capitán necesita una bitácora de viaje (blog) y con ella, podrás contar y mostrar de la mejor manera tus experiencias,
              para que otros puedan saber de ti y puedas atraer a los usuarios adecuados.
      .col-lg-6
        .about-card#gallery
          .icon-gallery
          .about-content
            %h1 Contenido multimedia dinámico
            %p.d-none.d-sm-block
              Puedes tener una galería completa que mostrará lo mejor de tu negocio y de tus capacidades.
              Aumenta tus posibilidades de venta con formularios de contacto para escuchar las necesidades de tus clientes.
            %p.d-block.d-sm-none
              Puedes tener una galería completa que mostrará lo mejor de tu negocio y de tus capacidades.
              Aumenta tus posibilidades de venta con formularios de contacto para escuchar las necesidades de tus clientes.
      .col-lg-6
        .about-card#create
          .icon-create
          .about-content
            %h1 Imagine, cree, repita
            %p.d-none.d-sm-block
              Hay muchos rockets esperando ser ensamblados a su nave capitán, deberá escoger los que
              realmente necesita y si tiene la visión acertada, le aseguramos que su nave (negocio) aumentará su capacidad en todos los aspectos.
            %p.d-block.d-sm-none
              Visualice y construya su nave (negocio) con los mejores rockets para mejorar su rendimiento.