// About
%section.pad-section#about
  .container
    .section-title
      %h1.about
        Conoce los 'Rockets' para hacer
        %br que tu negocio despegue
    .row
      .col-lg-6
        .about-card#control
          .icon-control
          .about-content
            %h1 Completo control
            %p.d-none.d-sm-block
              Con Keppler eres el encargado de la nave que quiere llevar a donde
              otros no han llegado, pero para eso necesitan los propulsores
              adecuados, los 'rockets' que harán de su misión un rotundo éxito.
              Afortunadamente cuenta con un equipo de técnicos expertos que le
              ofrecen lo mejor
            %p.d-block.d-sm-none
              Usted se encarga de la nave para llegar a donde otros no, pero para eso necesita los propulsores adecuados,
              los 'rockets' para alcanzar el exito. Un equipo de técnicos expertos le ofrece lo mejor.
      .col-lg-6
        .about-card#blog
          .icon-blog
          .about-content
            %h1 Un blog para compartir información
            %p.d-none.d-sm-block
              Como capitán necesita una bitácora de viaje (blog) y con ella podrá contar y mostrar, de la mejor manera, sus experiencias de viaje
              y otras misiones para que otros puedan saber de usted y así atraer a los usuarios adecuados.
            %p.d-block.d-sm-none
              La bitácora de viaje (blog), con ella podrá contar y mostrar sus experiencias
              de viaje y otras misiones para que otros puedan saber de usted y así atraer a los usuarios adecuados.
      .col-lg-6
        .about-card#gallery
          .icon-gallery
          .about-content
            %h1 Álbumes dinámicos para su web
            %p.d-none.d-sm-block
              Una galería completa (álbumes) que mostrará lo mejor de su nave y de las capacidades de esta para
              ofrecer lo mejor de lo mejor a quienes acudan a usted. Despliéguese de la mejor manera con los
              formularios de contacto y escuche cuáles son las necesidades de los usuarios para acompañarlo en su viaje.
            %p.d-block.d-sm-none
              Una galería completa que mostrará lo mejor de su nave las capacidades de esta para ofrecer lo mejor a quienes
              acudan a usted. Despliégue los formularios de contacto y escuche cuáles son las necesidades de su usuarios.
      .col-lg-6
        .about-card#create
          .icon-create
          .about-content
            %h1 Imagine, cree, repita
            %p.d-none.d-sm-block
              Hay muchos rockets esperando ser ensamblados a su nave capitán, deberá escoger los que
              realmente necesita y si tiene la visión acertada, le aseguramos que su nave aumentará su capacidad en todos los aspectos.
              Visualice y construya la mejor.
            %p.d-block.d-sm-none
              Visualice y construya. Hay muchos rockets esperando ser ensamblados a su nave capitán,
              escoja los que realmente necesita, con la visión acertada, su nave aumentará su capacidad en todos los aspectos.
