.resume-box
  %section{ id: 'tech-skills'}
    %h3.title.mb-5 Portfolio
    .row
      .col-lg-6
        .item.sandbox
          .mask-item
            %h5 Keppler - Sandbox
            %a.btn.btn-custom{'data-project'=>'sandbox', 'data-toggle' => 'modal', 'data-target' => '#sandbox'} View More
      .col-lg-6
        .item.keppler
          .mask-item
            %h5 Keppler - Landing Page
            %a.btn.btn-custom{'data-project'=>'keppler', 'data-toggle' => 'modal', 'data-target' => '#keppler'} View More
      .col-lg-6
        .item.keppleradmin
          .mask-item
            %h5 Keppler Admin - CMS
            %a.btn.btn-custom{'data-project'=>'keppleradmin', 'data-toggle' => 'modal', 'data-target' => '#keppleradmin'} View More
      .col-lg-6
        .item.tucana
          .mask-item
            %h5 Tucana Designs
            %a.btn.btn-custom{'data-project'=>'tucana', 'data-toggle' => 'modal', 'data-target' => '#tucana'} View More
      .col-lg-6
        .item.brieva
          .mask-item
            %h5 Grupo Brieva Arquitectura
            %a.btn.btn-custom{'data-project'=>'brieva', 'data-toggle' => 'modal', 'data-target' => '#brieva'} View More
      .col-lg-6
        .item.qtrf
          .mask-item
            %h5 QTRF
            %a.btn.btn-custom{ 'data-project'=>'qtrf', 'data-toggle' => 'modal', 'data-target' => '#qtrf' } View More
      .col-lg-6
        .item.arismendy
          .mask-item
            %h5 Arismendy Andrade
            %a.btn.btn-custom{'data-project'=>'arismendy', 'data-toggle' => 'modal', 'data-target' => '#arismendy'} View More
      .col-lg-6
        .item.prodesa
          .mask-item
            %h5 Prodesa
            %a.btn.btn-custom{'data-project'=>'prodesa', 'data-toggle' => 'modal', 'data-target' => '#prodesa'} View More
      .col-lg-6
        .item.dinastia
          .mask-item
            %h5 Hotel Dinastia Coro
            %a.btn.btn-custom{'data-project'=>'dinastia', 'data-toggle' => 'modal', 'data-target' => '#dinastia'} View More
      .col-lg-6
        .item.enterprisepf
          .mask-item
            %h5 Enterprises Punto Fijo
            %a.btn.btn-custom{'data-project'=>'enterprise', 'data-toggle' => 'modal', 'data-target' => '#enterprisepf'} View More
.modal.fade{ 'data-project'=> '', id:'qtrf', 'aria-hidden' => 'true', 'aria-labelledby' => 'itemLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-body
        .container
          .row
            .col-lg-8
              %video.w-100{autoplay: 'true', loop: 'true', muted: '', poster: ''}
                %source{src: 'assets/img/qtrf.mp4', type: 'video/mp4'}
            .col-lg-4
              %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
                %span{'aria-hidden' => 'true'} ×
              .project-details
                %dl.dl-horizontal.clear-mrg
                  %dt.text-upper Company Name
                  %dd QTRF NET CONSULTING C.A
                  %dt.text-upper Web page:
                  %dd
                    %a{ href: 'http://qtrfnet.com' } qtrfnet.com
                  %dt.text-upper Date
                  %dd January 2018
.modal.fade{ 'data-project'=> '', id:'enterprisepf', 'aria-hidden' => 'true', 'aria-labelledby' => 'itemLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-body
        .container
          .row
            .col-lg-8
              %video.w-100{autoplay: 'true', loop: 'true', muted: '', poster: ''}
                %source{src: 'assets/img/enterprise.mp4', type: 'video/mp4'}
            .col-lg-4
              %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
                %span{'aria-hidden' => 'true'} ×
              .project-details
                %dl.dl-horizontal.clear-mrg
                  %dt.text-upper Company Name
                  %dd Enterprises Punto Fijo
                  %dt.text-upper Web page:
                  %dd
                    %a{ href: 'http://enterprisespf.com' } enterprisespf.com
                  %dt.text-upper Date
                  %dd August 2017
.modal.fade{ 'data-project'=> '', id:'arismendy', 'aria-hidden' => 'true', 'aria-labelledby' => 'itemLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-body
        .container
          .row
            .col-lg-8
              %video.w-100{autoplay: 'true', loop: 'true', muted: '', poster: ''}
                %source{src: 'assets/img/arismendy.mp4', type: 'video/mp4'}
            .col-lg-4
              %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
                %span{'aria-hidden' => 'true'} ×
              .project-details
                %dl.dl-horizontal.clear-mrg
                  %dt.text-upper Company Name
                  %dd Arismendy Andrade
                  %dt.text-upper Web page:
                  %dd
                    %a{ href: 'http://arismendyandrade.com' } arismendyandrade.com
                  %dt.text-upper Date
                  %dd February 2018
.modal.fade{ 'data-project'=> '', id:'dinastia', 'aria-hidden' => 'true', 'aria-labelledby' => 'itemLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-body
        .container
          .row
            .col-lg-8
              %video.w-100{autoplay: 'true', loop: 'true', muted: '', poster: ''}
                %source{src: 'assets/img/dinastia.mp4', type: 'video/mp4'}
            .col-lg-4
              %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
                %span{'aria-hidden' => 'true'} ×
              .project-details
                %dl.dl-horizontal.clear-mrg
                  %dt.text-upper Company Name
                  %dd Hotel Dinastia Coro
                  %dt.text-upper Web page:
                  %dd
                    %a{ href: 'http://hoteldinastiacoro.com/' } hoteldinastiacoro.com
                  %dt.text-upper Date
                  %dd November 2017
.modal.fade{ 'data-project'=> '', id:'keppler', 'aria-hidden' => 'true', 'aria-labelledby' => 'itemLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-body
        .container
          .row
            .col-lg-8
              %video.w-100{autoplay: 'true', loop: 'true', muted: '', poster: ''}
                %source{src: 'assets/img/keppler.mp4', type: 'video/mp4'}
            .col-lg-4
              %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
                %span{'aria-hidden' => 'true'} ×
              .project-details
                %dl.dl-horizontal.clear-mrg
                  %dt.text-upper Company Name
                  %dd Keppler Admin
                  %dt.text-upper Landing page:
                  %dd
                    %a{ href: 'https://keppleradmin.com/' } keppleradmin.com
                  %dt.text-upper Date
                  %dd August 2018
.modal.fade{ 'data-project'=> '', id:'brieva', 'aria-hidden' => 'true', 'aria-labelledby' => 'itemLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-body
        .container
          .row
            .col-lg-8
              %video.w-100{autoplay: 'true', loop: 'true', muted: '', poster: ''}
                %source{src: 'assets/img/brieva.mp4', type: 'video/mp4'}
            .col-lg-4
              %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
                %span{'aria-hidden' => 'true'} ×
              .project-details
                %dl.dl-horizontal.clear-mrg
                  %dt.text-upper Company Name
                  %dd Grupo Brieva Arquitectura
                  %dt.text-upper Web page:
                  %dd
                    %a{ href: 'http://arquitectura.grupobrieva.com' } arquitectura.grupobrieva.com
                  %dt.text-upper Date
                  %dd May 2018
.modal.fade{ 'data-project'=> '', id:'tucana', 'aria-hidden' => 'true', 'aria-labelledby' => 'itemLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-body
        .container
          .row
            .col-lg-8
              %video.w-100{autoplay: 'true', loop: 'true', muted: '', poster: ''}
                %source{src: 'assets/img/tucana.mp4', type: 'video/mp4'}
            .col-lg-4
              %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
                %span{'aria-hidden' => 'true'} ×
              .project-details
                %dl.dl-horizontal.clear-mrg
                  %dt.text-upper Company Name
                  %dd Tucana Designs
                  %dt.text-upper Web page:
                  %dd
                    %a{ href: 'https://tucana.com.ec/' } tucana.com.ec
                  %dt.text-upper Date
                  %dd July 2018
.modal.fade{ 'data-project'=> '', id:'prodesa', 'aria-hidden' => 'true', 'aria-labelledby' => 'itemLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-body
        .container
          .row
            .col-lg-8
              %video.w-100{autoplay: 'true', loop: 'true', muted: '', poster: ''}
                %source{src: 'assets/img/prodesa.mp4', type: 'video/mp4'}
            .col-lg-4
              %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
                %span{'aria-hidden' => 'true'} ×
              .project-details
                %dl.dl-horizontal.clear-mrg
                  %dt.text-upper Company Name
                  %dd Prodesa
                  %dt.text-upper Web page:
                  %dd
                    %a{ href: 'http://prodesa.com.ve/' } prodesa.com.ve
                  %dt.text-upper Date
                  %dd December 2017
.modal.fade{ 'data-project'=> '', id:'sandbox', 'aria-hidden' => 'true', 'aria-labelledby' => 'itemLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-body
        .container
          .row
            .col-lg-8
              %video.w-100{autoplay: 'true', loop: 'true', muted: '', poster: ''}
                %source{src: 'assets/img/sandbox.mp4', type: 'video/mp4'}
            .col-lg-4
              %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
                %span{'aria-hidden' => 'true'} ×
              .project-details
                %dl.dl-horizontal.clear-mrg
                  %dt.text-upper Company Name
                  %dd Keppler - Sandbox
                  %dt.text-upper Demo:
                  %dd
                    %a{ href: 'https://sandbox.keppleradmin.com/' } sandbox.keppleradmin.com
                  %dt.text-upper Date
                  %dd Currently - In process
.modal.fade{ 'data-project'=> '', id:'keppleradmin', 'aria-hidden' => 'true', 'aria-labelledby' => 'itemLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-body
        .container
          .row
            .col-lg-8
              .single-item
                %img{src:'assets/img/screen_adaptabilidad.webp'}
                %img{src:'assets/img/screen_control.webp'}
                %img{src:'assets/img/screen_usabilidad.webp'}
                %img{src:'assets/img/features.webp'}
            .col-lg-4
              %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
                %span{'aria-hidden' => 'true'} ×
              .project-details
                %h3 Keppler Admin - CMS
                %strong Web App
                %a{ href: 'https://keppleradmin.com/' } keppleradmin.com
                %a{ href: 'https://sandbox.keppleradmin.com/' } sandbox.keppleradmin.com             