.resume-box
  %section{ id: 'tech-skills'}
    %h3.title.mb-5 Portfolio
    .row
      .col-lg-6
        .item.toscana
          .mask-item
            %h5 Toscana Ciudadela - Landing Page
            %a.btn.btn-custom{'data-project'=>'toscana', 'data-toggle' => 'modal', 'data-target' => '#toscana'} View More
      .col-lg-6
        .item.paimun
          .mask-item
            %h5 Cabañas Paimun - Landing Page
            %a.btn.btn-custom{'data-project'=>'paimun', 'data-toggle' => 'modal', 'data-target' => '#paimun'} View More
      .col-lg-6
        .item.collagelabs
          .mask-item
            %h5 CollageLabs - Landing Page
            %a.btn.btn-custom{'data-project'=>'collagelabs', 'data-toggle' => 'modal', 'data-target' => '#collagelabs'} View More
      .col-lg-6
        .item.hvbnb
          .mask-item
            %h5 HVbnb - Info Page
            %a.btn.btn-custom{'data-project'=>'hvbnb', 'data-toggle' => 'modal', 'data-target' => '#hvbnb'} View More
      .col-lg-6
        .item.cajadepati
          .mask-item
            %h5 La Caja de Pati - Web/Blog
            %a.btn.btn-custom{'data-project'=>'cajadepati', 'data-toggle' => 'modal', 'data-target' => '#cajadepati'} View More
      .col-lg-6
        .item.zeppelin
          .mask-item
            %h5 Zeppelin Gastropub - Web
            %a.btn.btn-custom{'data-project'=>'zeppelin', 'data-toggle' => 'modal', 'data-target' => '#zeppelin'} View More
      .col-lg-6
        .item.xale
          .mask-item
            %h5 2xale - Web
            %a.btn.btn-custom{'data-project'=>'xale', 'data-toggle' => 'modal', 'data-target' => '#xale'} View More
      .col-lg-6
        .item.surftech
          .mask-item
            %h5 Surftech - Ecommerce
            %a.btn.btn-custom{'data-project'=>'surftech', 'data-toggle' => 'modal', 'data-target' => '#surftech'} View More
      .col-lg-6
        .item.sandbox
          .mask-item
            %h5 Keppler - Sandbox
            %a.btn.btn-custom{'data-project'=>'sandbox', 'data-toggle' => 'modal', 'data-target' => '#sandbox'} View More
      .col-lg-6
        .item.keppler
          .mask-item
            %h5 Keppler - Landing Page
            %a.btn.btn-custom{'data-project'=>'keppler', 'data-toggle' => 'modal', 'data-target' => '#keppler'} View More
      .col-lg-6
        .item.keppleradmin
          .mask-item
            %h5 Keppler Admin - CMS
            %a.btn.btn-custom{'data-project'=>'keppleradmin', 'data-toggle' => 'modal', 'data-target' => '#keppleradmin'} View More
      .col-lg-6
        .item.tucana
          .mask-item
            %h5 Tucana Designs - Web
            %a.btn.btn-custom{'data-project'=>'tucana', 'data-toggle' => 'modal', 'data-target' => '#tucana'} View More
      .col-lg-6
        .item.brieva
          .mask-item
            %h5 Grupo Brieva Arquitectura - Web
            %a.btn.btn-custom{'data-project'=>'brieva', 'data-toggle' => 'modal', 'data-target' => '#brieva'} View More
      .col-lg-6
        .item.arismendy
          .mask-item
            %h5 Arismendy Andrade - Landing Page
            %a.btn.btn-custom{'data-project'=>'arismendy', 'data-toggle' => 'modal', 'data-target' => '#arismendy'} View More
      .col-lg-6
        .item.qtrf
          .mask-item
            %h5 QTRF Net Consulting - Web/Blog
            %a.btn.btn-custom{ 'data-project'=>'qtrf', 'data-toggle' => 'modal', 'data-target' => '#qtrf' } View More
      .col-lg-6
        .item.prodesa
          .mask-item
            %h5 Prodesa - Web
            %a.btn.btn-custom{'data-project'=>'prodesa', 'data-toggle' => 'modal', 'data-target' => '#prodesa'} View More
      .col-lg-6
        .item.dinastia
          .mask-item
            %h5 Hotel Dinastia Coro - Web
            %a.btn.btn-custom{'data-project'=>'dinastia', 'data-toggle' => 'modal', 'data-target' => '#dinastia'} View More
      .col-lg-6
        .item.enterprisepf
          .mask-item
            %h5 Enterprises Punto Fijo - Landing Page
            %a.btn.btn-custom{'data-project'=>'enterprise', 'data-toggle' => 'modal', 'data-target' => '#enterprisepf'} View More
.modal.fade{ 'data-project'=> '', id:'qtrf', 'aria-hidden' => 'true', 'aria-labelledby' => 'itemLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-dialog-centered{role: 'document'}
    .modal-content
      .modal-body
        .container
          .row
            .col-lg-8
              %video.w-100{autoplay: 'true', loop: 'true', muted: '', poster: ''}
                %source{src: 'assets/img/projects/qtrf.webm'}
            .col-lg-4
              %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
                %span{'aria-hidden' => 'true'} ×
              .project-details
                %dl.dl-horizontal.clear-mrg
                  %h3 QTRF NET CONSULTING C.A
                  %dt.text-upper Website:
                  %dd
                    %a{ href: 'http://qtrfnet.com' } qtrfnet.com
                  %dt.text-upper Date
                  %dd January 2018
                  %dt.text-upper Status
                  %dd Down
.modal.fade{ 'data-project'=> '', id:'enterprisepf', 'aria-hidden' => 'true', 'aria-labelledby' => 'itemLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-dialog-centered{role: 'document'}
    .modal-content
      .modal-body
        .container
          .row
            .col-lg-8
              %video.w-100{autoplay: 'true', loop: 'true', muted: '', poster: ''}
                %source.w-100{src: 'assets/img/projects/enterprise.webm', type: 'video/webm'}
            .col-lg-4
              %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
                %span{'aria-hidden' => 'true'} ×
              .project-details
                %dl.dl-horizontal.clear-mrg
                  %h3 Enterprises Punto Fijo
                  %dt.text-upper Website:
                  %dd
                    %a{ href: 'http://enterprisespf.com' } enterprisespf.com
                  %dt.text-upper Date
                  %dd August 2017
                  %dt.text-upper Status
                  %dd Available
.modal.fade{ 'data-project'=> '', id:'arismendy', 'aria-hidden' => 'true', 'aria-labelledby' => 'itemLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-dialog-centered{role: 'document'}
    .modal-content
      .modal-body
        .container
          .row
            .col-lg-8
              %video.w-100{autoplay: 'true', loop: 'true', muted: '', poster: ''}
                %source.w-100{src: 'assets/img/projects/arismendy.webm', type: 'video/webm'}
            .col-lg-4
              %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
                %span{'aria-hidden' => 'true'} ×
              .project-details
                %dl.dl-horizontal.clear-mrg
                  %h3 Arismendy Andrade
                  %dt.text-upper Website:
                  %dd
                    %a{ href: 'http://arismendyandrade.com' } arismendyandrade.com
                  %dt.text-upper Date
                  %dd February 2018
                  %dt.text-upper Status
                  %dd Down
.modal.fade{ 'data-project'=> '', id:'dinastia', 'aria-hidden' => 'true', 'aria-labelledby' => 'itemLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-dialog-centered{role: 'document'}
    .modal-content
      .modal-body
        .container
          .row
            .col-lg-8
              %video.w-100{autoplay: 'true', loop: 'true', muted: '', poster: ''}
                %source.w-100{src: 'assets/img/projects/dinastia.webm', type: 'video/webm'}
            .col-lg-4
              %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
                %span{'aria-hidden' => 'true'} ×
              .project-details
                %dl.dl-horizontal.clear-mrg
                  %h3 Hotel Dinastia Coro
                  %dt.text-upper Website:
                  %dd
                    %a{ href: 'http://hoteldinastiacoro.com/' } hoteldinastiacoro.com
                  %dt.text-upper Date
                  %dd November 2017
                  %dt.text-upper Status
                  %dd Available
.modal.fade{ 'data-project'=> '', id:'keppler', 'aria-hidden' => 'true', 'aria-labelledby' => 'itemLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-dialog-centered{role: 'document'}
    .modal-content
      .modal-body
        .container
          .row
            .col-lg-8
              %video.w-100{autoplay: 'true', loop: 'true', muted: '', poster: ''}
                %source.w-100{src: 'assets/img/projects/keppler.webm', type: 'video/webm'}
            .col-lg-4
              %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
                %span{'aria-hidden' => 'true'} ×
              .project-details
                %dl.dl-horizontal.clear-mrg
                  %h3 Keppler Admin
                  %dt.text-upper Website:
                  %dd
                    %a{ href: 'https://keppleradmin.com/' } keppleradmin.com
                  %dt.text-upper Date
                  %dd August 2018
                  %dt.text-upper Status
                  %dd Down
.modal.fade{ 'data-project'=> '', id:'brieva', 'aria-hidden' => 'true', 'aria-labelledby' => 'itemLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-dialog-centered{role: 'document'}
    .modal-content
      .modal-body
        .container
          .row
            .col-lg-8
              %video.w-100{autoplay: 'true', loop: 'true', muted: '', poster: ''}
                %source.w-100{src: 'assets/img/projects/brieva.webm', type: 'video/webm'}
            .col-lg-4
              %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
                %span{'aria-hidden' => 'true'} ×
              .project-details
                %dl.dl-horizontal.clear-mrg
                  %h3 Grupo Brieva Arquitectura
                  %dt.text-upper Website:
                  %dd
                    %a{ href: 'http://arquitectura.grupobrieva.com' } arquitectura.grupobrieva.com
                  %dt.text-upper Date
                  %dd May 2018
                  %dt.text-upper Status
                  %dd Down
.modal.fade{ 'data-project'=> '', id:'tucana', 'aria-hidden' => 'true', 'aria-labelledby' => 'itemLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-dialog-centered{role: 'document'}
    .modal-content
      .modal-body
        .container
          .row
            .col-lg-8
              %video.w-100{autoplay: 'true', loop: 'true', muted: '', poster: ''}
                %source.w-100{src: 'assets/img/projects/tucana.webm', type: 'video/webm'}
            .col-lg-4
              %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
                %span{'aria-hidden' => 'true'} ×
              .project-details
                %dl.dl-horizontal.clear-mrg
                  %h3 Tucana Designs
                  %dt.text-upper Website:
                  %dd
                    %a{ href: 'https://tucana.com.ec/' } tucana.com.ec
                  %dt.text-upper Date
                  %dd July 2018
                  %dt.text-upper Status
                  %dd Available but updated
.modal.fade{ 'data-project'=> '', id:'prodesa', 'aria-hidden' => 'true', 'aria-labelledby' => 'itemLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-dialog-centered{role: 'document'}
    .modal-content
      .modal-body
        .container
          .row
            .col-lg-8
              %video.w-100{autoplay: 'true', loop: 'true', muted: '', poster: ''}
                %source.w-100{src: 'assets/img/projects/prodesa.webm', type: 'video/webm'}
            .col-lg-4
              %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
                %span{'aria-hidden' => 'true'} ×
              .project-details
                %dl.dl-horizontal.clear-mrg
                  %h3 Prodesa
                  %dt.text-upper Website:
                  %dd
                    %a{ href: 'http://prodesa.com.ve/' } prodesa.com.ve
                  %dt.text-upper Date
                  %dd December 2017
                  %dt.text-upper Status
                  %dd Down
.modal.fade{ 'data-project'=> '', id:'sandbox', 'aria-hidden' => 'true', 'aria-labelledby' => 'itemLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-dialog-centered{role: 'document'}
    .modal-content
      .modal-body
        .container
          .row
            .col-lg-8
              %video.w-100{autoplay: 'true', loop: 'true', muted: '', poster: ''}
                %source.w-100{src: 'assets/img/projects/sandbox.webm', type: 'video/webm'}
            .col-lg-4
              %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
                %span{'aria-hidden' => 'true'} ×
              .project-details
                %dl.dl-horizontal.clear-mrg
                  %h3 Keppler - Sandbox
                  %dt.text-upper Website:
                  %dd
                    %a{ href: 'https://sandbox.keppleradmin.com/' } sandbox.keppleradmin.com
                  %dt.text-upper Date
                  %dd November 2018
                  %dt.text-upper Status
                  %dd Down
.modal.fade{ 'data-project'=> '', id:'keppleradmin', 'aria-hidden' => 'true', 'aria-labelledby' => 'itemLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-dialog-centered{role: 'document'}
    .modal-content
      .modal-body
        .container
          .row
            .col-lg-8
              .single-item
                %img{src:'assets/img/screen_adaptabilidad.webp'}
                %img{src:'assets/img/screen_control.webp'}
                %img{src:'assets/img/screen_usabilidad.webp'}
                %img{src:'assets/img/features.webp'}
            .col-lg-4
              %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
                %span{'aria-hidden' => 'true'} ×
              .project-details
                %h3 Keppler Admin - CMS
                %strong Web App
                %a{ href: 'https://keppleradmin.com/' } keppleradmin.com
                %a{ href: 'https://sandbox.keppleradmin.com/' } sandbox.keppleradmin.com
                %dl.dl-horizontal.clear-mrg
                  %dt.text-upper Status
                  %dd No longer maintained app
.modal.fade{ 'data-project'=> '', id:'xale', 'aria-hidden' => 'true', 'aria-labelledby' => 'itemLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-dialog-centered{role: 'document'}
    .modal-content
      .modal-body
        .container
          .row
            .col-lg-8
              %video.w-100{autoplay: 'true', loop: 'true', muted: '', poster: ''}
                %source{src: 'assets/img/projects/2xale.webm', type: 'video/webm'}
            .col-lg-4
              %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
                %span{'aria-hidden' => 'true'} ×
              .project-details
                %dl.dl-horizontal.clear-mrg
                  %h3 2xale
                  %dt.text-upper Website:
                  %dd
                    %a{ href: 'https://2xale.com' } 2xale.com
                  %dt.text-upper Date
                  %dd April 2019
                  %dt.text-upper Status
                  %dd Available but updated
.modal.fade{ 'data-project'=> '', id:'zeppelin', 'aria-hidden' => 'true', 'aria-labelledby' => 'itemLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-dialog-centered{role: 'document'}
    .modal-content
      .modal-body
        .container
          .row
            .col-lg-8
              %video.w-100{autoplay: 'true', loop: 'true', muted: '', poster: ''}
                %source.w-100{src: 'assets/img/projects/zeppelin.webm', type: 'video/webm'}
            .col-lg-4
              %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
                %span{'aria-hidden' => 'true'} ×
              .project-details
                %dl.dl-horizontal.clear-mrg
                  %h3 Zeppelin Gastropub
                  %dt.text-upper Website:
                  %dd
                    %a{ href: 'https://zeppelingastropub.com/' } zeppelingastropub.com
                  %dt.text-upper Date
                  %dd June 2019
                  %dt.text-upper Status
                  %dd Available
.modal.fade{ 'data-project'=> '', id:'surftech', 'aria-hidden' => 'true', 'aria-labelledby' => 'itemLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-dialog-centered{role: 'document'}
    .modal-content
      .modal-body
        .container
          .row
            .col-lg-8
              %video.w-100{autoplay: 'true', loop: 'true', muted: '', poster: ''}
                %source.w-100{src: 'assets/img/projects/surftech.webm', type: 'video/webm'}
            .col-lg-4
              %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
                %span{'aria-hidden' => 'true'} ×
              .project-details
                %dl.dl-horizontal.clear-mrg
                  %h3 Surftech
                  %dt.text-upper Website:
                  %dd
                    %a{ href: 'https://surftech.com/' } surftech.com
                  %dt.text-upper Date
                  %dd January 2019
                  %dt.text-upper Status
                  %dd Available
.modal.fade{ 'data-project'=> '', id:'collagelabs', 'aria-hidden' => 'true', 'aria-labelledby' => 'itemLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-dialog-centered{role: 'document'}
    .modal-content
      .modal-body
        .container
          .row
            .col-lg-8
              %video.w-100{autoplay: 'true', loop: 'true', muted: '', poster: ''}
                %source.w-100{src: 'assets/img/projects/collagelabs.webm', type: 'video/webm'}
            .col-lg-4
              %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
                %span{'aria-hidden' => 'true'} ×
              .project-details
                %dl.dl-horizontal.clear-mrg
                  %h3 CollageLabs
                  %dt.text-upper Website:
                  %dd
                    %a{ href: 'https://collagelabs.org/' } collagelabs.org
                  %dt.text-upper Date
                  %dd October 2019
                  %dt.text-upper Status
                  %dd Available
.modal.fade{ 'data-project'=> '', id:'paimun', 'aria-hidden' => 'true', 'aria-labelledby' => 'itemLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-dialog-centered{role: 'document'}
    .modal-content
      .modal-body
        .container
          .row
            .col-lg-8
              %video.w-100{autoplay: 'true', loop: 'true', muted: '', poster: ''}
                %source.w-100{src: 'assets/img/projects/paimun.webm', type: 'video/webm'}
            .col-lg-4
              %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
                %span{'aria-hidden' => 'true'} ×
              .project-details
                %dl.dl-horizontal.clear-mrg
                  %h3 Cabañas Paimun
                  %dt.text-upper Website:
                  %dd
                    %a{ href: 'https://www.cabañaspaimun.cl/' } cabañaspaimun.cl
                  %dt.text-upper Date
                  %dd November 2019
                  %dt.text-upper Status
                  %dd Available
.modal.fade{ 'data-project'=> '', id:'toscana', 'aria-hidden' => 'true', 'aria-labelledby' => 'itemLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-dialog-centered{role: 'document'}
    .modal-content
      .modal-body
        .container
          .row
            .col-lg-8
              %video.w-100{autoplay: 'true', loop: 'true', muted: '', poster: ''}
                %source.w-100{src: 'assets/img/projects/toscana.webm', type: 'video/webm'}
            .col-lg-4
              %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
                %span{'aria-hidden' => 'true'} ×
              .project-details
                %dl.dl-horizontal.clear-mrg
                  %h3 Toscana Ciudadela
                  %dt.text-upper Demo:
                  %dd
                    %a{ href: 'https://paolavrgs.github.io/toscana-ciudadela/' } paolavrgs.github.io/toscana-ciudadela
                  %dt.text-upper Date
                  %dd April - May 2020
                  %dt.text-upper Status
                  %dd Available
.modal.fade{ 'data-project'=> '', id:'cajadepati', 'aria-hidden' => 'true', 'aria-labelledby' => 'itemLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-dialog-centered{role: 'document'}
    .modal-content
      .modal-body
        .container
          .row
            .col-lg-8
              %img.w-100{src: 'assets/img/projects/cajadepati.jpg'}
            .col-lg-4
              %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
                %span{'aria-hidden' => 'true'} ×
              .project-details
                %dl.dl-horizontal.clear-mrg
                  %h3 La Caja de Pati
                  %dt.text-upper Website:
                  %dd
                    %a{ href: 'https://lacajadepati.com/' } lacajadepati.com
                  %dt.text-upper Date
                  %dd August 2019
                  %dt.text-upper Status
                  %dd Down
.modal.fade{ 'data-project'=> '', id:'hvbnb', 'aria-hidden' => 'true', 'aria-labelledby' => 'itemLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-dialog-centered{role: 'document'}
    .modal-content
      .modal-body
        .container
          .row
            .col-lg-8
              %video.w-100{autoplay: 'true', loop: 'true', muted: '', poster: ''}
                %source.w-100{src: 'assets/img/projects/hvbnb.webm', type: 'video/webm'}
            .col-lg-4
              %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
                %span{'aria-hidden' => 'true'} ×
              .project-details
                %dl.dl-horizontal.clear-mrg
                  %h3 HVbnb - Rent a Home
                  %dt.text-upper Website:
                  %dd
                    %a{ href: 'http://hv-bnb.santiagolab.cl/' } hv-bnb.santiagolab.cl
                  %dt.text-upper Date
                  %dd September 2019
                  %dt.text-upper Status
                  %dd Available