// Product
%section.pad-section#products
  .container
    .section-title
      %h1.products
        Esto es apenas una muestra
        %br de lo que puedes lograr
    .row
      .col-lg-12.padding-section
        .container
          .row
            .col-lg-7.col-xs-12
              .product-img
                %img{ src: 'assets/img/apariencia.gif', style: 'width:100%;' }
            .col-lg-5.col-xs-12
              .product-description
                %h1
                  Personaliza la
                  %br interfaz
                .call-to-actions
                  %button.btn.cta-product
                    Iniciar proyecto
                  %button.sandbox-product{ href: '#' }
                    Comienza con una muestra
      .col-lg-12.padding-section
        .container
          .row
            .col-lg-5.col-xs-12
              .product-description.pl-0
                %h1
                  Crea tus propias
                  %br galerías de imágenes
                .call-to-actions
                  %button.btn.cta-product
                    Iniciar proyecto
                  %button.sandbox-product{ href: '#' }
                    Comienza con una muestra
            .col-lg-7.col-xs-12.order-custom
              .product-img
                %img{ src: 'assets/img/galeria.gif', style: 'width:100%;' }
      .col-lg-12.padding-section
        .container
          .row
            .col-lg-7.col-xs-12
              .product-img
                %img{ src: 'assets/img/blog.gif', style: 'width:100%;' }
            .col-lg-5.col-xs-12
              .product-description
                %h1
                  Mantén tu blog
                  %br actualizado
                .call-to-actions
                  %button.btn.cta-product
                    Iniciar proyecto
                  %button.sandbox-product{ href: '#' }
                    Comienza con una muestra
