.resume-box
  %section{ id: 'work' }
    %h3.title.mb-5 Work Experience
    .timeline
      .timeline-box
        %span.timeline-date
          %span 2017 - 2018
        %h3 Front-end Developer
        .timeline-logo
          %a{href: "#", target: "_blank"}
            %img.wp-post-image{ src: "https://sandbox.keppleradmin.com/assets/themes/sandbox_keppler_web/keppler_logo.png", width: "80" }
        %span.timeline-company Keppler CMS
        -# %p Your brand is the core of your marketing, the central theme around your products and services. Your brand is not your Logo or your Company Name
      .timeline-box
        %span.timeline-date
          %span 2017 - current
        %h3 Web Developer
        .timeline-logo
          %a{href: "#", target: "_blank"}
            %img.wp-post-image{ src: "https://gladibeth.github.io/webslicegroup3.0/assets/img/slice_footer.svg", width: "60" }
        %span.timeline-company Slice Group
        -# %p Your brand is the core of your marketing, the central theme around your products and services.
.resume-box
  %section{ id: 'work' }
    %h3.title.mb-5 Education
    .timeline
      .timeline-box
        %span.timeline-date
          %span 2014 - current
        %h3 Systems Engineer
        %span.timeline-company National Experimental University of the Armed Forces
        %p Expected graduation: 2019      