.resume-box
  %section{ id: 'work' }
    %h3.title.mb-5 Work Experience
    .timeline
      .timeline-box
        %span.timeline-date
          %span February 2020 - current
        %h3 React Developer
        %span.timeline-company Bigwave - Chile
        %p Wave Ciudadana - App for creation of polls and proposals at the political level. React project, using React Router, Redux, styled-components and Ant.design, consuming REST API, responsible for design UI/UX.
      .timeline-box
        %span.timeline-date
          %span December 2018 - current
        %h3 Front-end Developer
        .timeline-logo
          %a{href: "http://santiagolab.cl/", target: "_blank"}
            %img.wp-post-image{ src: "assets/img/logos/santiagolab_logo.svg", width: "80" }
        %span.timeline-company Santiago Lab - Chile
        %p Create functionalitys for Hugo projects, PSD to front-end code, involved in E-commerce projects in platforms like jumpseller and bigcommerce.
      .timeline-box
        %span.timeline-date
          %span May 2019 - Sep 2019
        %h3 Front-end Team Leader and Web Developer
        .timeline-logo
          %a{href: "https://slicegroup.co/", target: "_blank"}
            %img.wp-post-image{ src: "assets/img/logos/slice_logo.png", width: "60" }
        %span.timeline-company Slice Group - Colombia
        %p Supervision of team members in development department, responsible for mentorship and guidance to technical team members in all project activities on multiple small to medium sized projects or one large project. Able to shift between a creative and a technical focus depending on the project need and/or the type of project. Create high performant UI/UX for web. Write readable, testable and maintainable code
      .timeline-box
        %span.timeline-date
          %span May 2017 - May 2019
        %h3 Web Developer
        .timeline-logo
          %a{href: "https://slicegroup.co/", target: "_blank"}
            %img.wp-post-image{ src: "assets/img/logos/slice_logo.png", width: "60" }
        %span.timeline-company Slice Group - Colombia
        %p PSD to front-end code, web design from scratch, write maintainable, scalable and responsive code, use Gulp as development workflow, use framework Ruby on Rails.
      .timeline-box
        %span.timeline-date
          %span June - December 2018
        %h3 Front-end Developer
        .timeline-logo
          %a{href: "https://keppleradmin.com/", target: "_blank"}
            %img.wp-post-image{ src: "assets/img/logos/keppler_logo.png", width: "80" }
        %span.timeline-company Keppler CMS
        %p CMS develop in Ruby on Rails, redesign for the app interface (UI/UX).
.resume-box
  %section{ id: 'work' }
    %h3.title.mb-5 Education
    .timeline
      .timeline-box
        %span.timeline-date
          %span 2014 - 2020
        %h3 Systems Engineer
        %span.timeline-company National Experimental University of the Armed Forces
        %p Waiting for graduation: 2020
      .timeline-box
        %span.timeline-date
          %span 2018
        %h3 Platzi courses
        %span.timeline-company Basic Programming, Javascript Fundamentals, Personal Brand, Web Perfomance Optimization, Sass, Responsive Desing, Basic English: Grammar.
      .timeline-box
        %span.timeline-date
          %span 2019
        %h3 Udemy courses
        %span.timeline-company Modern React with Redux