// Features
%section.pad-section.d-none.d-md-block#features
  .container
    .section-title
      %h1.features Administra tu portal web
      %span.subtitle Impresiona a tus clientes con tu contenido
    .row
      .col-md-8.offset-2
        .features-images
          .feature-img
            %img.red.active{ src: 'assets/img/screen_adaptabilidad.png', alt: '' }
          .feature-img
            %img.light-blue{ src: 'assets/img/screen_manejo.png', alt: '' }
          .feature-img
            %img.dark-blue{ src: 'assets/img/screen_control.png', alt: '' }
          .feature-img
            %img.dark-red{ src: 'assets/img/screen_usabilidad.png', alt: '' }
      .col-lg-8.offset-lg-2.col-md-12.sticky-icons
        .feature-icons
          %ul
            %li
              %span.feature-btn.feature-active#red
                Adaptabilidad
            %li
              %span.feature-btn#light-blue
                Manejo cósmico
            %li
              %span.feature-btn#dark-red
                Control y escabilidad
            %li
              %span.feature-btn#dark-blue
                Usabilidad y evolución
        .feature-text
          %span.red.active Haz que tu negocio evolucione a las nuevas formas de vender.
          %span.light-blue Tan sencillo de usar que podrás realizar cambios desde tu teléfono sin complicaciones.
          %span.dark-red Controla de la mejor forma, la información que provean tus usuarios para que tu empresa alcance sus objetivos.
          %span.dark-blue Tu portal se visualizará en cualquier plataforma y puede ser modificada sin comenzar de cero.
// Features - Slider
%section.pad-section.d-md-none#features-xs
  .container
    .section-title
      %h1.features Administra tu portal web
      %span.subtitle Impresiona a tus clientes con tu contenido
    .row
      .col-md-8.offset-md-2
        .slider-for.features-images-xs
          .feature-img-xs
            %img{ src: 'assets/img/screen_adaptabilidad.png', alt: '' }
          .feature-img-xs
            %img{ src: 'assets/img/screen_manejo.png', alt: '' }
          .feature-img-xs
            %img{ src: 'assets/img/screen_control.png', alt: '' }
          .feature-img-xs
            %img{ src: 'assets/img/screen_usabilidad.png', alt: '' }
      .col-md-6.offset-md-3
        .feature-icons-xs
          .slider-nav
            %li
              %span.feature-btn-xs Adaptabilidad
              %p Haz que tu negocio evolucione a las nuevas formas de vender.
            %li
              %span.feature-btn-xs Manejo cósmico
              %p Tan sencillo de usar que podrás realizar cambios desde tu teléfono sin complicaciones.
            %li
              %span.feature-btn-xs Control y escabilidad
              %p Controla de la mejor forma, la información que provean tus usuarios para que tu empresa alcance sus objetivos.
            %li
              %span.feature-btn-xs Usabilidad y evolución
              %p Tu portal se visualizará en cualquier plataforma y puede ser modificada sin comenzar de cero.
