!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name:"viewport"}/
    %meta{name:"theme-color", content:"#fff"}
    %title Keppler Landing
    %link{:href => "assets/img/favicon.png", :rel => "shortcut icon"}
    %link{rel:"stylesheet", href:"https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"}
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.1.0/css/all.css", :integrity => "sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt", :rel => "stylesheet"}/
    %link{rel: "stylesheet", href:"assets/css/slick-theme.css"}
    %link{rel: "stylesheet", href:"assets/css/slick.css"}
    %link{rel: "stylesheet", href:"assets/css/main.css"}
  %body
    // Navigation
    %nav.navbar.navbar-expand-lg
      %a.navbar-brand{:href => "#"} Keppler
      -# %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
      -#   %span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        %ul.navbar-nav
          %li.nav-item
            %a.nav-link{:href => "#"} Features
          %li.nav-item
            %a.nav-link{:href => "#"} Producto
          %li.nav-item
            %a.nav-link{:href => "#"} About
          %li.nav-item
            %a.nav-link{:href => "#"} Contacto
    // Home
    %section#home
      #particle-container
        - 29.times do
          .particle
      .mask-home
        %h1
          Crea y gestiona los
          %br contenidos en tu web
        %button.btn.cta{href:"#"} Iniciar proyecto
        %button.sandbox{href:"#"} Comienza con una muestra
    // Features
    %section#features.pad-section.d-none.d-md-block
      .container
        .section-title
          %h1.features Administra tu página web
          %span.subtitle Gestiona tú mismo todo el contenido de manera fácil
        .row
          .col-md-8.offset-2
            .feature-img
              %img{src:"assets/img/keppler_screen.png", alt:""}
          .col-lg-8.offset-lg-2.col-md-12
            .feature-text
              %span Haz que tu negocio tradicional se ajuste a las nuevas formas de vender
            .feature-icons
              %ul
                %li
                  .icon-circle#red
                    %img{src:"assets/img/adaptabilidad_icon.png"}
                  %span Adaptabilidad
                %li
                  .icon-circle#light-blue
                    %img{src:"assets/img/cosmico_icon.png"}
                  %span Manejo Cósmico
                %li
                  .icon-circle#dark-red
                    %img{src:"assets/img/control_icon.png"}
                  %span Control y Escabilidad
                %li
                  .icon-circle#dark-blue
                    %img{src:"assets/img/evolucion_icon.png"}
                  %span Usabilidad y evolución
    // Features - Slider
    %section#features-xs.pad-section.d-md-none
      .container
        .section-title
          %h1.features Administra tu página web
          %span.subtitle Gestiona tú mismo todo el contenido de manera fácil
        .row
          .col-md-8.offset-md-2
            .slider-for
              .feature-img
                %img{src:"assets/img/keppler_screen.png", alt:""}
              .feature-img
                %img{src:"https://images.unsplash.com/photo-1531210488748-d1620f6506a5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2789589eeaf861e53a2e05c716250b7a&auto=format&fit=crop&w=1050&q=80", alt:""}
              .feature-img
                %img{src:"https://images.unsplash.com/photo-1531199250311-f5755dcc55c5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4e3dbc5ec5bf998459018748937df203&auto=format&fit=crop&w=1050&q=80", alt:""}
              .feature-img
                %img{src:"https://images.unsplash.com/photo-1531228040767-7a99c3ff4489?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=136f18f5c843c1f8a1e60eaeac6cffb5&auto=format&fit=crop&w=500&q=60", alt:""}
          .col-md-6.offset-md-3
            .feature-text
              %span Haz que tu negocio tradicional se ajuste a las nuevas formas de vender
            .feature-icons-xs
              .slider-nav
                %li
                  .icon-circle#red
                    %img{src:"assets/img/adaptabilidad_icon.png"}
                  %span Adaptabilidad
                %li
                  .icon-circle#light-blue
                    %img{src:"assets/img/cosmico_icon.png"}
                  %span Manejo Cósmico
                %li
                  .icon-circle#dark-red
                    %img{src:"assets/img/control_icon.png"}
                  %span Control y Escabilidad
                %li
                  .icon-circle#dark-blue
                    %img{src:"assets/img/evolucion_icon.png"}
                  %span Usabilidad y evolución
    // Producto
    %section#products.pad-section
      .container
        .section-title
          %h1.products 
            Esto es apenas una muestra
            %br de lo que puedes lograr
        .row
          .col-lg-12.padding-section
            .container
              .row
                .col-lg-7.col-xs-12
                  .product-img
                    %img{src:"assets/img/keppler_screen_producto.png", style:"width:100%;"}
                .col-lg-5.col-xs-12
                  .product-description
                    %h1
                      Personaliza la
                      %br interfaz
                    .call-to-actions
                      %button.btn.cta-product Iniciar proyecto
                      %button.sandbox-product{href:"#"} Comienza con una muestra
          .col-lg-12.padding-section
            .container
              .row
                .col-lg-5.col-xs-12
                  .product-description.pl-0
                    %h1
                      Crea tus propias
                      %br galerías de imágenes
                    .call-to-actions
                      %button.btn.cta-product Iniciar proyecto
                      %button.sandbox-product{href:"#"} Comienza con una muestra
                .col-lg-7.col-xs-12.order-custom
                  .product-img
                    %img{src:"assets/img/keppler_screen_producto.png", style:"width:100%;"}
          .col-lg-12.padding-section
            .container
              .row
                .col-lg-7.col-xs-12
                  .product-img
                    %img{src:"assets/img/keppler_screen_producto.png", style:"width:100%;"}
                .col-lg-5.col-xs-12
                  .product-description
                    %h1
                      Mantén tu blog
                      %br actualizado
                    .call-to-actions
                      %button.btn.cta-product Iniciar proyecto
                      %button.sandbox-product{href:"#"} Comienza con una muestra
      // Producto
    %section#about.pad-section
      .container
        .section-title
          %h1.about
            Conoce los "Rockets" para hacer
            %br que tu negocio despegue
        .row
          .col-lg-6
            .about-card#control
              .icon-control
              .about-content
                %h1 Completo control
                %p
                  Con Keppler eres el encargado de la nave que quiere llevar a donde 
                  otros no han llegado, pero para eso necesitan los propulsores
                  adecuados, los "rockets" que harán de su misión un rotundo éxito.
                  Afortunadamente cuenta con un equipo de técnicos expertos que le
                  ofrecen lo mejor
          .col-lg-6
            .about-card#blog
              .icon-blog
              .about-content
                %h1 Un blog para compartir información
                %p
                  Como capitán necesita una bitácora de viaje (blog) y con ella podrá contar y mostrar, de la mejor manera, sus experiencias de viaje
                  y otras misiones para que otros puedan saber de usted y así atraer a los usuarios adecuados.
          .col-lg-6
            .about-card#gallery
              .icon-gallery
              .about-content
                %h1 Álbumes dinámicos para su web
                %p
                  Una galería completa (álbumes) que mostrará lo mejor de su nave y de las capacidades de esta para
                  ofrecer lo mejor de lo mejor a quienes acudan a usted. Despliéguese de la mejor manera con los
                  formularios de contacto y escuche cuáles son las necesidades de los usuarios para acompañarlo en su viaje.
          .col-lg-6
            .about-card#create
              .icon-create
              .about-content
                %h1 Imagine, cree, repita
                %p
                  Hay muchos rockets esperando ser ensamblados a su nave capitán, deberá escoger los que
                  realmente necesita y si tiene la visión acertada, le aseguramos que su nave aumentará su capacidad en todos los aspectos.
                  Visualice y construya la mejor.
          .col-lg-6.cta-footer
            .cta-footer-inner
              %span Despeguemos tu empresa al espacio
              %button.btn-cta-footer.btn Iniciemos el viaje
          .col-lg-6.sandbox-footer
            .sandbox-footer-inner
              %span ¿Olvidaste ver cómo funciona Keppler?
              %button.btn.btn-sandbox-footer Mira más de cerca
    %section#kepplercontact
      .container
        .section-title
          %h1.footer-title ¿Alguna duda?
          %span.subtitle Contacta con nuestros ingenieros espaciales
        %form.keppler-form
          .col-lg-4.offset-lg-4
            .form-group
              %input.form-control{placeholder:"Nombre"}
            .form-group
              %input.form-control{placeholder:"Teléfono"}
            .form-group
              %input.form-control{placeholder:"Correo"}
            .form-group
              %textarea.form-control{placeholder:"Mensaje"}
            .row
              .col-lg-6
                .g-recaptcha.float-left{"data-sitekey" => "6Lc5tGIUAAAAABQX9d_EDkF__xNc3MOYAzr9ptNd"}
              .col-lg-6
                %button.btn.send-btn.float-right Enviar
    %footer
      .container
        .row
          .col-lg-6.offset-lg-3.flex-footer
            %ul.social-media
              %li
                %a{href:"#"}
                  %i.fab.fa-instagram
              %li
                %a{href:"#"}
                  %i.fab.fa-facebook-f
              %li
                %a{href:"#"}
                  %i.fab.fa-linkedin-in
              %li
                %a{href:"#"}
                  %i.fab.fa-whatsapp
            %span 
              &copy; Desarrollado por
              %a{href:"#"} Slice Group
    %script{src: "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"}
    %script{src: "https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"}
    %script{src: "https://www.google.com/recaptcha/api.js"}
    %script{src: "assets/js/slick.min.js"}
    %script{src: "assets/js/main.js"}
