!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name:"viewport"}/
    %meta{name:"theme-color", content:"#fff"}
    %title Keppler | CMS
    %link{ href: "assets/img/favicon.png", rel: "shortcut icon"}
    %link{rel:"stylesheet", href:"https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"}
    %link{:crossorigin => "anonymous", href: "https://use.fontawesome.com/releases/v5.1.0/css/all.css", :integrity => "sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt", :rel => "stylesheet"}/
    %link{rel: "stylesheet", href:"assets/css/slick-theme.css"}
    %link{rel: "stylesheet", href:"assets/css/slick.css"}
    %link{rel: "stylesheet", href:"assets/css/main.css"}
  %body
    %a{href:"javascript:", id:"return-to-top"}
      %i.fa.fa-chevron-up
    // Navigation
    %nav.navbar.navbar-expand-lg
      %a.navbar-brand{ href: "#"} Keppler
      %ul.lang-xs.d-lg-none
        %li.flex-box
          %a.languages.active{ href: "#"} ESP
          %a.languages{ href: "#"} ENG
      -# %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
      -#   %span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        %ul.navbar-nav
          %li.nav-item
            %a.nav-link.nav-link-hover{ href: "#features"} Características
          %li.nav-item
            %a.nav-link.nav-link-hover{ href: "/#products"} Producto
          %li.nav-item
            %a.nav-link.nav-link-hover{ href: "/#about"} Rockets de Despegue
          %li.nav-item
            %a.nav-link.nav-link-hover{ href: "/#kepplercontact"} Contacto
          %li.nav-item.flex-box
            %a.languages.active{ href: "#"} ESP
            %a.languages{ href: "#"} ENG
    // Home
    %section#home
      #particle-container
        .particles
      .mask-home
        %h1
          Crea y gestiona los
          %br contenidos en tu web
        %button.btn.cta{href:"#"} Iniciar proyecto
        %button.sandbox{href:"#"} Comienza con una muestra
      .rocket
        %img{src:"assets/img/cohete_new2.svg", alt:""}
      .clouds
        %img#clouds{src:"assets/img/nubes_new.svg", alt:""}
    // Features
    %section#features.pad-section.d-none.d-md-block
      .container
        .section-title
          %h1.features Administra tu página web
          %span.subtitle Gestiona tú mismo todo el contenido de manera fácil
        .row
          .col-md-8.offset-2
            .features-images
              .feature-img
                %img.red.active{src:"https://images.unsplash.com/photo-1531199250311-f5755dcc55c5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4e3dbc5ec5bf998459018748937df203&auto=format&fit=crop&w=1050&q=80", alt:""}
              .feature-img
                %img.light-blue{src:"https://images.unsplash.com/photo-1531210488748-d1620f6506a5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2789589eeaf861e53a2e05c716250b7a&auto=format&fit=crop&w=1050&q=80", alt:""}
              .feature-img
                %img.dark-blue{src:"https://images.unsplash.com/photo-1531199250311-f5755dcc55c5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4e3dbc5ec5bf998459018748937df203&auto=format&fit=crop&w=1050&q=80", alt:""}
              .feature-img
                %img.dark-red{src:"https://images.unsplash.com/photo-1531228040767-7a99c3ff4489?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=136f18f5c843c1f8a1e60eaeac6cffb5&auto=format&fit=crop&w=500&q=60", alt:""}
          .col-lg-8.offset-lg-2.col-md-12.sticky-icons
            .feature-icons
              %ul
                %li
                  %span.feature-btn.feature-active#red
                    Adaptabilidad
                %li
                  %span.feature-btn#light-blue
                    Manejo Cósmico
                %li
                  %span.feature-btn#dark-red
                    Control y Escabilidad
                %li
                  %span.feature-btn#dark-blue
                    Usabilidad y evolución
            .feature-text
              %span.red.active Haz que tu negocio tradicional se ajuste a las nuevas formas de vender.
              %span.light-blue Tan sencillo de usar que podrás realizar cambios desde tu teléfono sin complicaciones.
              %span.dark-red Controla de la mejor forma, la información que provean tus usuarios para que tu empresa alcance los objetivos.
              %span.dark-blue Tu web se visualiza en cualquier plataforma y puede ser modificada sin empezar de cero.
    // Features - Slider
    %section#features-xs.pad-section.d-md-none
      .container
        .section-title
          %h1.features Administra tu página web
          %span.subtitle Gestiona tú mismo todo el contenido de manera fácil
        .row
          .col-md-8.offset-md-2
            .slider-for
              .feature-img
                %img{src:"assets/img/keppler_screen.png", alt:""}
              .feature-img
                %img{src:"https://images.unsplash.com/photo-1531210488748-d1620f6506a5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2789589eeaf861e53a2e05c716250b7a&auto=format&fit=crop&w=1050&q=80", alt:""}
              .feature-img
                %img{src:"https://images.unsplash.com/photo-1531199250311-f5755dcc55c5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4e3dbc5ec5bf998459018748937df203&auto=format&fit=crop&w=1050&q=80", alt:""}
              .feature-img
                %img{src:"https://images.unsplash.com/photo-1531228040767-7a99c3ff4489?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=136f18f5c843c1f8a1e60eaeac6cffb5&auto=format&fit=crop&w=500&q=60", alt:""}
          .col-md-6.offset-md-3
            .feature-icons-xs
              .slider-nav
                %li
                  %p.red Haz que tu negocio tradicional se ajuste a las nuevas formas de vender.
                  .icon-circle#red
                    %img{src:"assets/img/adaptabilidad_icon.png"}
                  %span Adaptabilidad
                %li
                  %p.light-blue Tan sencillo de usar que podrás realizar cambios desde tu teléfono sin complicaciones.
                  .icon-circle#light-blue
                    %img{src:"assets/img/cosmico_icon.png"}
                  %span Manejo Cósmico
                %li
                  %p.dark-red Controla de la mejor forma, la información que provean tus usuarios para que tu empresa alcance los objetivos.
                  .icon-circle#dark-red
                    %img{src:"assets/img/control_icon.png"}
                  %span Control y Escabilidad
                %li
                  %p.dark-blue Tu web se visualiza en cualquier plataforma y puede ser modificada sin empezar de cero.
                  .icon-circle#dark-blue
                    %img{src:"assets/img/evolucion_icon.png"}
                  %span Usabilidad y evolución
    // Producto
    %section#products.pad-section
      .container
        .section-title
          %h1.products 
            Esto es apenas una muestra
            %br de lo que puedes lograr
        .row
          .col-lg-12.padding-section
            .container
              .row
                .col-lg-7.col-xs-12
                  .product-img
                    %img#hola{src:"assets/img/personaliza_interfaz.gif", style:"width:100%;"}
                .col-lg-5.col-xs-12
                  .product-description
                    %h1
                      Personaliza la
                      %br interfaz
                    .call-to-actions
                      %button.btn.cta-product Iniciar proyecto
                      %button.sandbox-product{href:"#"} Comienza con una muestra
          .col-lg-12.padding-section
            .container
              .row
                .col-lg-5.col-xs-12
                  .product-description.pl-0
                    %h1
                      Crea tus propias
                      %br galerías de imágenes
                    .call-to-actions
                      %button.btn.cta-product Iniciar proyecto
                      %button.sandbox-product{href:"#"} Comienza con una muestra
                .col-lg-7.col-xs-12.order-custom
                  .product-img
                    %img{src:"assets/img/keppler_screen_producto.png", style:"width:100%;"}
          .col-lg-12.padding-section
            .container
              .row
                .col-lg-7.col-xs-12
                  .product-img
                    %img{src:"assets/img/keppler_screen_producto.png", style:"width:100%;"}
                .col-lg-5.col-xs-12
                  .product-description
                    %h1
                      Mantén tu blog
                      %br actualizado
                    .call-to-actions
                      %button.btn.cta-product Iniciar proyecto
                      %button.sandbox-product{href:"#"} Comienza con una muestra
      // Producto
    %section#about.pad-section
      .container
        .section-title
          %h1.about
            Conoce los "Rockets" para hacer
            %br que tu negocio despegue
        .row
          .col-lg-6
            .about-card#control
              .icon-control
              .about-content
                %h1 Completo control
                %p.d-none.d-sm-block
                  Con Keppler eres el encargado de la nave que quiere llevar a donde 
                  otros no han llegado, pero para eso necesitan los propulsores
                  adecuados, los "rockets" que harán de su misión un rotundo éxito.
                  Afortunadamente cuenta con un equipo de técnicos expertos que le
                  ofrecen lo mejor
                %p.d-block.d-sm-none
                  Usted se encarga de la nave para llegar a donde otros no, pero para eso necesita los propulsores adecuados,
                  los "rockets" para alcanzar el exito. Un equipo de técnicos expertos le ofrece lo mejor.
          .col-lg-6
            .about-card#blog
              .icon-blog
              .about-content
                %h1 Un blog para compartir información
                %p.d-none.d-sm-block
                  Como capitán necesita una bitácora de viaje (blog) y con ella podrá contar y mostrar, de la mejor manera, sus experiencias de viaje
                  y otras misiones para que otros puedan saber de usted y así atraer a los usuarios adecuados.
                %p.d-block.d-sm-none
                  La bitácora de viaje (blog), con ella podrá contar y mostrar sus experiencias
                  de viaje y otras misiones para que otros puedan saber de usted y así atraer a los usuarios adecuados.
          .col-lg-6
            .about-card#gallery
              .icon-gallery
              .about-content
                %h1 Álbumes dinámicos para su web
                %p.d-none.d-sm-block
                  Una galería completa (álbumes) que mostrará lo mejor de su nave y de las capacidades de esta para
                  ofrecer lo mejor de lo mejor a quienes acudan a usted. Despliéguese de la mejor manera con los
                  formularios de contacto y escuche cuáles son las necesidades de los usuarios para acompañarlo en su viaje.
                %p.d-block.d-sm-none
                  Una galería completa que mostrará lo mejor de su nave las capacidades de esta para ofrecer lo mejor a quienes
                  acudan a usted. Despliégue los formularios de contacto y escuche cuáles son las necesidades de su usuarios.
          .col-lg-6
            .about-card#create
              .icon-create
              .about-content
                %h1 Imagine, cree, repita
                %p.d-none.d-sm-block
                  Hay muchos rockets esperando ser ensamblados a su nave capitán, deberá escoger los que
                  realmente necesita y si tiene la visión acertada, le aseguramos que su nave aumentará su capacidad en todos los aspectos.
                  Visualice y construya la mejor.
                %p.d-block.d-sm-none
                  Visualice y construya. Hay muchos rockets esperando ser ensamblados a su nave capitán, 
                  escoja los que realmente necesita, con la visión acertada, su nave aumentará su capacidad en todos los aspectos.
    %section#cta-footer
      .container
        .row
          .col-lg-6.cta-footer
            .cta-footer-inner
              %span Despeguemos tu empresa al espacio
              %button.btn-cta-footer.btn Iniciemos el viaje
          .col-lg-6.sandbox-footer
            .sandbox-footer-inner
              %span ¿Olvidaste ver cómo funciona Keppler?
              %button.btn.btn-sandbox-footer Mira más de cerca
    %section#kepplercontact
      .container
        .section-title
          %h1.footer-title ¿Alguna duda?
          %span.subtitle Contacta con nuestros ingenieros espaciales
        %form.keppler-form
          .col-lg-4.offset-lg-4
            .form-group
              %input.form-control{placeholder:"Nombre"}
            .form-group
              %input.form-control{placeholder:"Teléfono"}
            .form-group
              %input.form-control{placeholder:"Correo"}
            .form-group
              %textarea.form-control{placeholder:"Mensaje"}
            .row
              .col-lg-12.flex-captcha-btn
                .g-recaptcha.float-left{"data-sitekey" => "6Lc5tGIUAAAAABQX9d_EDkF__xNc3MOYAzr9ptNd"}
              .col-lg-12.flex-captcha-btn
                %button.btn.send-btn.float-right Enviar
    %footer
      .container
        .row
          .col-lg-6.offset-lg-3.flex-footer
            %ul.social-media
              %li
                %a#ig{href:"http://instagram.com/slicegroupxyz", target: 'blank'}
                  %i.fab.fa-instagram
              %li
                %a#fb{href:"https://es-la.facebook.com/slicegroupxyz/", target: 'blank'}
                  %i.fab.fa-facebook-f
              %li
                %a#ld{href:"https://www.linkedin.com/company/slice-group/", target: 'blank'}
                  %i.fab.fa-linkedin-in
              %li
                %a#ws{href:"whatsapp://send?text=Hola, aqui va un mensaje;phone=+573003466868"}
                  %i.fab.fa-whatsapp
            %ul.social-media
              %li
                %span
                  &copy; Desarrollado por
                  %a{href:"http://slicegroup.xyz", target:"blank"} Slice Group
    %script{src: "https://code.jquery.com/jquery-3.3.1.min.js"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"}
    %script{src: "https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"}
    %script{src: "https://www.google.com/recaptcha/api.js"}
    %script{src: "assets/js/slick.min.js"}
    %script{src: "assets/js/main.js"}
