// About
%section.pad-section#about
  .container
    .section-title
      %h1.about
        Meet the 'Rockets' that will make
        %br your business take-off
    .row
      .col-lg-6
        .about-card#control
          .icon-control
          .about-content
            %h1 Full Control
            %p.d-none.d-sm-block
              With Keppler, you are the captain of the ship, but to take it to where others have not arrived you'll need the right propulsion. We call them 'rockets', and they will make your mission a success. We accompany you on your business' take-off
            %p.d-block.d-sm-none
              With Keppler you are the captain of the ship and our rockets are your best allies.
      .col-lg-6
        .about-card#blog
          .icon-blog
          .about-content
            %h1 A blog to share information
            %p.d-none.d-sm-block
              As a captain, you need a travel log and with it, you'll have the best way to tell and show your experiences, so that others can know about you and hence, attract the right users.
            %p.d-block.d-sm-none
              As a captain, you need a travel log and with it, you'll have the best way to tell and show your experiences, so that others can know about you and hence, attract the right users.
      .col-lg-6
        .about-card#gallery
          .icon-gallery
          .about-content
            %h1 Dynamic multimedia content
            %p.d-none.d-sm-block
              You can have a complete gallery that will show the best of your business and your capabilities. In addition, increase your sales possibilities with contact forms That will allow you to listen to the needs of your customers.
            %p.d-block.d-sm-none
              You can have a complete gallery that will show the best of your business and your capabilities. In addition, increase your sales possibilities with contact forms That will allow you to listen to the needs of your customers.
      .col-lg-6
        .about-card#create
          .icon-create
          .about-content
            %h1 Imagine, create, repeat
            %p.d-none.d-sm-block
              There are many rockets waiting to be assembled to your mothership, you must choose the ones you really need and if you have the right vision, we assure you that your ship will increase its capacity in all aspects. Visualize and build the best.
            %p.d-block.d-sm-none
              Visualize and build your ship with the best rockets to improve its performance.