// Features
%section.pad-section.d-none.d-md-block#features
  .container
    .section-title
      %h1.features Manage your website
      %span.subtitle Impress your customers with your content
    .row
      .col-md-8.offset-2
        .features-images
          .feature-img
            %img.red.active{ src: 'assets/img/screen_adaptabilidad.png', alt: '' }
          .feature-img
            %img.light-blue{ src: 'assets/img/screen_manejo.png', alt: '' }
          .feature-img
            %img.dark-blue{ src: 'assets/img/screen_control.png', alt: '' }
          .feature-img
            %img.dark-red{ src: 'assets/img/screen_usabilidad.png', alt: '' }
      .col-lg-8.offset-lg-2.col-md-12.sticky-icons
        .feature-icons
          %ul
            %li
              %span.feature-btn.feature-active#red
                Adaptability
            %li
              %span.feature-btn#light-blue
                Cosmic Management
            %li
              %span.feature-btn#dark-red
                Control and Scalability
            %li
              %span.feature-btn#dark-blue
                Usability and evolution
        .feature-text
          %span.red.active Make your business evolve to new ways of selling.
          %span.light-blue So simple to use that you can make changes to your website from your smartphone without a problem.
          %span.dark-red Easy control of the information provided by your users so that your company achieves its goals.
          %span.dark-blue Your website is displayed on any device and can be modified on the go without starting from scratch.
// Features - Slider
%section.pad-section.d-md-none#features-xs
  .container
    .section-title
      %h1.features Manage your website
      %span.subtitle Impress your customers with your content
    .row
      .col-md-8.offset-md-2
        .slider-for.features-images-xs
          .feature-img-xs
            %img{ src: 'assets/img/screen_adaptabilidad.png', alt: '' }
          .feature-img-xs
            %img{ src: 'assets/img/screen_manejo.png', alt: '' }
          .feature-img-xs
            %img{ src: 'assets/img/screen_control.png', alt: '' }
          .feature-img-xs
            %img{ src: 'assets/img/screen_usabilidad.png', alt: '' }
      .col-md-6.offset-md-3
        .feature-icons-xs
          .slider-nav
            %li
              %span.feature-btn-xs Adaptability
              %p Make your business evolve to new ways of selling.
            %li
              %span.feature-btn-xs Cosmic Management
              %p So simple to use that you can make changes to your website from your smartphone without a problem.
            %li
              %span.feature-btn-xs Control and Scalability
              %p Easy control of the information provided by your users so that your company achieves its goals.
            %li
              %span.feature-btn-xs Usability and evolution
              %p Your website is displayed on any device and can be modified on the go without starting from scratch.
