// Navigation
%nav.navbar.navbar-expand-lg
  %a.navbar-brand{ href: '#' } Keppler
  %ul.lang-xs.d-lg-none
    %li.flex-box
      %a.languages.active{ href: '#' } ESP
      %a.languages{ href: '#' } ENG
  .collapse.navbar-collapse#navbar
    %ul.navbar-nav
      %li.nav-item
        %a.nav-link.nav-link-hover{ href: '#features' } Features
      %li.nav-item
        %a.nav-link.nav-link-hover{ href: '/#products' } About Keppler
      %li.nav-item
        %a.nav-link.nav-link-hover{ href: '/#about' } Blast-off Rockets
      %li.nav-item
        %a.nav-link.nav-link-hover{ href: '/#kepplercontact' } Contact
      %li.nav-item.flex-box
        %a.languages{ href: '/' } ESP
        %a.languages.active{ href: 'en.html' } ENG
// Home
%section#home
  #particle-container
    .particles
  .mask-home
    %h1
      Create and manage
      %br your site by yourself
    %button.btn.cta{ href: '#' } Start Today!
    %button.sandbox{ href: '#' } Show me how it works
  .rocket
    %img{ src: 'assets/img/cohete_new2.svg', alt: '' }
  .clouds
    %img#clouds{ src: 'assets/img/nubes_new.svg', alt: '' }